h2 {
  color: #0ef07f;
}
.block {
  display: block;
}
.str70 {
  background: #111ef4b9;
}
.str70-1 {
  background: #51ef25b5;
}
.str70-2 {
  border: 3px solid crimson;
}
.str73 {
  color: rgb(255, 255, 255);
  background: #000000b5;
}
.TylWce {
  color: rgb(247, 25, 25);
}
